<%= form_with(model: record) do |form| %>
  <% if record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
        <% record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :expense, style: "display: block" %>
    <%= form.check_box :expense %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :order_on, style: "display: block" %>
    <%= form.datetime_field :order_on %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.select :project_id, Project.pluck(:name, :id) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
